<div class="border p-4 mb-4" id="rounded-table">
    {{ form_start(formC) }}
        {{ form_widget(formC) }}
        <button class="btn px-0"  type="submit" >{% include './assets/save.svg.twig' %}</button>
    {{ form_end(formC) }}
</div>
<div class="border p-4 " id="rounded-table">
    {{ form_start(formU) }}
        {{ form_widget(formU) }}
        <button class="btn px-0" type="submit" >{% include './assets/save.svg.twig' %}</button>
    {{ form_end(formU) }}
</div>        
   
